$primary-color: rgb(84, 84, 84);

.who {
    padding: 50px 15px;


    border-bottom: 0.5px solid $primary-color;

    height: calc(100vh - 70px);

    display: flex;
    align-items: center;

    // h1 {}

    // p {}
}