$primary-color: rgb(84, 84, 84);

.projects{
    text-align: center;
    border-bottom: solid 0.5px $primary-color;
    height: calc(50vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container{
        h2{
            margin-bottom: 20px;
        }
    }
    &__images{
        justify-content: center;
        display: flex;
        gap: 10px;
        .projectsImg{
            width: 200px;
            height: 200px;
            background-color: $primary-color;
        }
    }
}