
.scroll-progress{
    position: fixed;
    top: 70;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
    // transform-origin: 0%;
}

.cursor{
    border: solid 1px rgb(84, 84, 84);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 3;
}
